<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>data-sender</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Повернути дані</ion-label>
      <ion-input type="text" [(ngModel)]="textData"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button (click)="passData()" expand="block" color="primary" class="ion-float-right">
    <ion-icon slot="start" name="send"></ion-icon>
    Відправити дані
  </ion-button>
</ion-content>
